.box {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform-style: preserve-3d;
  transform: rotateX(240deg) rotateY(-5deg) rotateZ(-155deg);
}
.side {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  position: absolute;
  top: 0;
  left: 0;
}
.top {
  transform: translateZ(-60px);
  background: rgb(157, 157, 157);
}
.front {
  transform: rotateX(90deg) translateY(44px);
  transform-origin: bottom;
  background: rgb(94, 94, 94);
}
.left {
  width: 100px;
  transform: translateZ(-60px) translateX(4px) rotateY(90deg);
  transform-origin: right;
  background: grey;
}
